@model MySite.Models.Product
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MySite.Areas.Identity.Data.User> SignInManager
@inject UserManager<MySite.Areas.Identity.Data.User> UserManager

<head>
    <link rel="stylesheet" href="~/css/сataloge.css">
    <link rel="stylesheet" href="~/css/product.css">
</head>

<div class="product-item">
    <a href="javascript:void(0);" class="favorite-icon" onclick="addToWishlist(@Model.Id)">
        <img src="~/imgs/fav-un.png" alt="Добавить в избранное" id="favorite-icon-@Model.Id" />
    </a>

    @if (SignInManager.IsSignedIn(User) && (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin")))
    {
        <a href="@Url.Action("Edit", "Products", new { id = Model.Id })" class="edit-icon">
            <img src="~/imgs/edit.png" alt="Змінити" />
        </a>
    }

    <img src="@Model.ImageUrl" alt="@Model.Name" class="product-image">
    <div class="product-title">@Model.Name</div>
    <div class="product-description">@Model.Description</div>
    <div class="product-availability @(Model.Stock > 0 ? "in-stock" : "out-of-stock")">
        @(Model.Stock > 0 ? "В наявності" : "Немає в наявності")
    </div>

    @if (Model.DiscountPrecent > 0)
    {
        <div class="product-price">
            <span><del>@Model.Price.ToString("0.00") ₴</del></span>
            <span class="product-discount">@Model.DiscountPrice.Value.ToString("0.00") ₴</span>
        </div>
    }
    else
    {
        <div class="product-price">
            <span>@Model.Price.ToString("0.00") ₴</span>
        </div>
    }

    <div class="button-container">
        <button class="buy-button">Купити</button>
    </div>
</div>
