@model IEnumerable<MySite.Models.CartItem>

@{
    ViewData["Title"] = "Елементи кошика";
    ViewData["CreateAction"] = "Create";
}

@await Html.PartialAsync("_DBList")

<h2 class="table-title"></h2>
<partial name="_CRUDToolBar" />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Користувач</th>
            <th>Опис товару</th>
            <th>Ціна за одиницю</th>
            <th>Кількість</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody id="itemsTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Cart.UserId)</td>
                <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                <td>@($"{item.UnitPrice} ₴")</td>
                <td>@item.Quantity</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
