@{
    ViewData["Title"] = "Товари";
    ViewData["CreateAction"] = "Create";
}
@await Html.PartialAsync("_DBList")

<h2 class="table-title">@ViewData["TableName"]</h2>
<partial name="_CRUDToolBar" />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Категорія</th>
            <th>Ціна</th>
            <th>Знижка</th>
            <th>Кількість</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody id="itemsTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.DiscountPrecent?.ToString("P") ?? "0%"</td>
                <td>@item.Stock</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
