@model IEnumerable<MySite.Models.Product>

@{
    ViewData["Title"] = "Панель управління товарами";
}

<h1>Панель управління товарами</h1>
@await Html.PartialAsync("_DBList")
<p>
    <a asp-action="Create" class="btn btn-success">Додати товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Ціна
            </th>
            <th>
                Знижка
            </th>
            <th>
                Ціна зі знижкою
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @string.Format("{0:0.00} ₴", item.Price)
                </td>
                <td>
                    @if (item.DiscountPercentage > 0)
                    {
                        <span>@item.DiscountPercentage% знижка</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @if (item.DiscountPercentage > 0)
                    {
                        <span>@string.Format("{0:0.00} ₴", item.DiscountPrice)</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редагувати</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Деталі</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>