@model IEnumerable<MySite.Models.Wishlist>

@{
    ViewData["Title"] = "Список бажаного";
    ViewData["CreateAction"] = "Create";
}

@await Html.PartialAsync("_DBList")

<h2 class="table-title"></h2>
<partial name="_CRUDToolBar" />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Користувач</th>
            <th>Продукт</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody id="itemsTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User.Name</td> 
                <td>@item.Product.Name</td> 
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table-title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 15px;
    }
</style>
