@model IEnumerable<MySite.Models.Product>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MySite.Areas.Identity.Data.User> SignInManager
@inject UserManager<MySite.Areas.Identity.Data.User> UserManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<!DOCTYPE html>
<head>
    <title>Магазин товарів для тварин</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="~/css/product.css">

</head>

<body style="background-color:white">



    <!-- Баннер -->
    <section class="main-banner">
        <div class="banner-content">
            <h2>@Localizer["BannerTitle"]</h2>
            <p>@Localizer["BannerSubtitle"]</p>
            <button>@Localizer["ShopNow"]</button>
        </div>
    </section>

    <!-- Категории -->
    <section class="main_categories">
        <h2>@Localizer["MainCategoriesTitle"]</h2>
        <div class="categories-list">
            <div class="category-item">
                <img src="/imgs/cat.jpg" alt="@Localizer["CatsCategory"]">
                <p>>@Localizer["CatsCategory"]</p>
            </div>
            <div class="category-item">
                <img src="/imgs/dog.png" alt="@Localizer["DogsCategory"]">
                <p>>@Localizer["DogsCategory"]</p>
            </div>
            <div class="category-item">
                <img src="/imgs/hamster.png" alt="@Localizer["RodentsCategory"]">
                <p>>@Localizer["RodentsCategory"]</p>
            </div>
            <div class="category-item">
                <img src="/imgs/parrot.png" alt="@Localizer["BirdsCategory"]">
                <p>>@Localizer["BirdsCategory"]</p>
            </div>
        </div>
    </section>

    <!-- Акции -->
    <section class="product-offers">
        <div class="category-button">
            @Localizer["PromotionsTitle"]
            <button>@Localizer["AllPromotionsButton"]</button>
        </div>
        <div class="product-line">
            @if (Model != null && Model.Any())
            {
                @foreach (var product in Model.Where(p => p.DiscountPrecent > 0))
                {
                    @Html.Partial("_ProductItem", product)
                }
            }
        </div>
    </section>

    <!-- Новинки -->
    <section class="product-offers">
        <div class="category-button">
            @Localizer["NewArrivalsTitle"]
            <button>@Localizer["AllNewArrivalsButton"]</button>
        </div>
        <div class="product-line">
            @if (Model != null && Model.Any())
            {
                @foreach (var product in Model.OrderByDescending(p => p.CreatedDate))
                {
                    @Html.Partial("_ProductItem", product)
                }
            }
        </div>
    </section>

</body>
</html>
