@model IEnumerable<MySite.Models.Cart>

@{
    ViewData["Title"] = "Панель управління кошиками";
}

<h1>Панель управління кошиками</h1>
@await Html.PartialAsync("_DBList")

<p>
    <a asp-action="Create" class="btn btn-success">Додати кошик</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
